@import 'tailwindcss';
@config '../../../tailwind.config.ts';

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  min-width: 320px;
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

body {
  position: relative;
}
